body {
	font-family: Helvetica, sans-serif;


}

.navbar {
	margin-bottom: 5px;
}
.sunset {
	margin-top: 30px;
}
.background-image {

	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/*background:url("Villa-6.jpg");*/
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
	filter: blur(4px);
	-webkit-filter: blur(4px); /* added for Chrome, Safari, Opera */

	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
	background-size: cover;
	background-repeat: no-repeat;
}
.google-map {
	position: relative;
}
.text-about{
	background-color: rgb(255,255,255);

	background-color: rgba(255,255,255,0.4);

}

.about{
	position:relative;
	z-index:2;
	color:black;
	padding-top: 60px;

}
.about-kalathas {
	width: 50%;
	height: 50%;

}

.contact {
	position:relative;
	z-index:2;
	color:black;
	padding-top: 60px;

}
.row-contact {
	background-color: rgb(255,255,255);

	background-color: rgba(255,255,255,0.4);
}
.airbnb-embed-frame {
	position: relative;
	height: 445px;

	width: 50%;

}

.photos {
	padding-top: 60px;
}
.img-thumbnail {
	width: 170px;
	height: 150px;
}
.contact-booking{
	/*height: 400px;
	/*vertical-align: middle; */
}
.row-map {
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.4);
}
.container-map {
	position:relative;
	z-index:2;
	color:black;
	padding-top: 60px;
}

.booking-embed-frame {
	background: white;
	padding: 20px;
}
.listing-embed-booking-summary {
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: justify;
	color: #565a5c;
}


.tripadvisor-embed-frame {
	background: white;
	padding: 20px;
}
.listing-embed-tripadvisor-summary {
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: justify;
	color: #565a5c;
}


