body {
	font-family: Helvetica, sans-serif;
	font-size: 14px;

}
/*html, body{
height:100%;


} */
/*.carousel {
	width:100%;
} */
.navbar-brand {
	font-family: Palatino Linotype;
	font-weight: bold;
	font-style: italic;
	/*font-family: 'Dancing Script', cursive; */


}

.navbar {
	margin-bottom: 0px;
}
.sunset {
	margin-top: 30px;
}
/*.carousel-content {
position: absolute;
top: 20%;
right: 50%;
z-index: 20;
color: white;
text-shadow: 0 1px 2px rgba(0,0,0,.6);
font-family: 'Dancing Script', cursive;
font-size: 60px;
font-style: italic;
overflow: hidden;
width: 30em;
white-space:nowrap;

-webkit-animation: type 8s steps(80, end);
animation: type 8s steps(80, end);

}
@keyframes type{
from { width: 0; }
}

@-webkit-keyframes type{
from { width: 0; }
}
*/
.background-image {

	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/*background:url("Villa-6.jpg");*/
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
	filter: blur(4px);
	-webkit-filter: blur(4px); /* added for Chrome, Safari, Opera */

	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
	background-size: cover;
	background-repeat: no-repeat;
}
.google-map {
	position: relative;
}
.text-about{
	background-color: rgb(255,255,255);

	background-color: rgba(255,255,255,0.4);
	font-size: 13px;
	font-family: Tahoma;

}


.about{
	position:relative;
	z-index:2;
	color:black;
	padding-top: 60px;

}
.about-kalathas {
	width: 50%;
	height: 50%;

}
.airbnb-logo-txt {
	font-family: Century Gothic, sans-serif;
	font-size: 25px;
	font-weight: bold;
	/* color:#FC245A; */
	margin-top: 30px;
	margin-bottom:20px;
}
.booking-txt , .tripadvisor-txt {
	margin-top: 60px;
	margin-bottom:20px;
}
.booking-logo-txt {
	font-family: Tahoma, sans-serif;
	font-size: 25px;
	font-weight: bold;
	/* color: #08088A; */

}
.com-logo-txt {
	font-family: Tahoma, sans-serif;
	font-size: 25px;
	font-weight: bold;
	/* color: #30BFDC; */

}
.trip-logo-txt {
	font-family: Geneva, sans-serif;
	font-size: 25px;
	font-weight: bold;
	/* color: #000000; */
}
.advisor-logo-txt {
	font-family: Geneva, sans-serif;
	font-size: 25px;
	font-weight: bold;
	/* color: #289048; */
}
.contact {
	position:relative;
	z-index:2;
	color:black;
	padding-top: 60px;

}
.row-contact {
	background-color: rgb(255,255,255);

	background-color: rgba(255,255,255,0.4);
}
.airbnb-embed-frame {
	position: relative;
	/*height: 445px; */
	background: white;
	padding: 20px;

	padding-bottom: 30px;

}

.listing-embed-airbnb-summary {
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: justify;
	color: #565a5c;
}

.photos {
	padding-top: 60px;
}
.img-thumbnail {
	width: 170px;
	height: 150px;
}
.contact-booking{
	/*height: 400px;
	/*vertical-align: middle; */
}
.row-map {
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.4);
}
.container-map {
	position:relative;
	z-index:2;
	color:black;
	padding-top: 60px;
}

.booking-embed-frame {
	background: white;
	padding: 20px;
	padding-bottom: 10px;
}
.listing-embed-booking-summary {
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: justify;
	color: #565a5c;
}


.tripadvisor-embed-frame {
	background: white;
	padding: 20px;
	padding-bottom: 0px;
}
.listing-embed-tripadvisor-summary {
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: justify;
	color: #565a5c;
}
#googleMap {
	margin-bottom: 10px;
}
.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

@media only screen and (max-width: 992px){


	.sunset>img {
		width: 100%;
	}




}


